
body {
    font-family: 'Raleway', sans-serif;
}

.first_section {
    max-width: 1510px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(images/bg.jpg);
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
}

.header_logo {
    display: flex;
    align-items: center;
}

.header_logo .box {
    padding-left: 3px;
}

.header_naw {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 670px;
}

.header_naw > * {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 134px;
    padding: 42.5px 0 39.5px;
    border-bottom: 3px solid transparent;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFF;
    text-decoration: none;
}

.header_naw a:hover {
    border-bottom: 3px solid #fff;
}

.header_naw a:active{
    border-bottom: 3px solid #E71414;
    color: #E71414;
}

.line {
    max-width: 1510px;
    border-top: 1px solid #fff;  
}

/* First section */

.first_section_title {
    margin-top: 130px;
    text-align: center;
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    text-transform: uppercase;
    color: #FFF;
}

.first_section_subtitle {
    margin: 31px 0 80px;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFF;
}

.section_first_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first_button {
    display: inline-block;
    margin-bottom: 120px;
    height: 80px;
    padding: 0 90px;
    background: #FF4343;
    font-weight: 900;
    font-size: 24px;
    line-height: 80px;
    text-transform: uppercase;
    color: #FFF;
}

.section_first_button a:hover {
    background: #E71414;
}

.section_first_button a:active {
    background: #FF4343;
    box-shadow: 4px 4px 30px #FF4343;
}

/* Second section */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 116px 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    margin-right: 30px;
}

.card:nth-child(3n) {
    margin-right: 0;
}

.card:nth-child(n+4) {
    margin-top: 89px;
}

.icon img {
    padding-bottom: 29px;
}

.card_title {
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 24px;
    line-height: 72px;
    text-transform: uppercase;
    color: #2D3033;
    overflow: auto;
}

.card_subtitle {
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
    color: #6C7279;
    text-align: center;
    overflow: auto;
}

/* Third section */

.third_section {
    max-width: 1510px;
    margin-left: auto;
    margin-right: auto;
}

.works {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 116px;
}

.work {
    height: 340px;
}

.work img {
    width: 377.5px;
}

.work:hover {

}

.work:active {

}

.person_cards {
    display: flex;
    margin-bottom: 114px;
}

.person_card {
    width: 270px;
    margin-right: 30px;
}

.person_card:nth-child(4) {
    margin-right: 0;
}

.person_photo {
    margin-bottom: 30px;
}

.person_name {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
    color: #2D3033;
    margin-bottom: 5px;
    overflow: auto;
}

.person_profession {
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FF4343;
    margin-bottom: 18px;
    overflow: auto;
}

.person_comment {
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 21px;
    color: #6C7279;
    margin-bottom: 38px;
    overflow: auto;
}

.person_icons {
    display: flex;

}

.person_icon {
    margin-right: 5px;
}

.person_icon:nth-last-child(1) {
    margin-right: 0;
}
